/*
 * This file is part of xgqt.gitlab.io.

 * xgqt.gitlab.io is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * xgqt.gitlab.io is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with xgqt.gitlab.io.  If not, see <https://www.gnu.org/licenses/>.

 * Copyright (c) 2020-2021, Maciej Barć <xgqt@riseup.net>
 * Licensed under the GNU GPL v3 License
 */


/* General */

html,
body {
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #18242b, #482a52);
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: #2aa198;
}

a:visited {
    color: #859900;
}

#box {
    background-color: #292b2e;
    border-radius: 15px;
    box-shadow: 0 20px 70px #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
    margin: 30px auto;
    width: 80%;
}


/* Top */

#top {
    color: #999c96;
    float: right;
    height: 20%;
    width: 75%;
}

#top h1 {
    font-size: 6vh;
    text-align: center;
    text-shadow: 2px 2px #000000;
}


/* Left */

#left {
    color: #fdf6e3;
    float: left;
    font-size: min( calc(5px + 1.2vw), 20px );
    height: 100%;
    overflow: auto;
    width: 25%;
}

#left dl {
    margin: 3.5vw 0 0 3vw;
}

#left dd {
    margin: 0 0 0 10px;
    padding: 0 0 0.3em 0;
}


/* Right */

#right {
    color: #fdf6e3;
    float: left;
    font-size: calc(10px + 1vw);
    height: 80%;
    overflow: auto;
    width: 75%;
}


/* Code / Commands Stylizing */

.code-block {
    background-color: #073642;
    border-radius: 15px;
    border: none;
    color: #aaa;
    font-family: 'andale mono', 'lucida console', monospace;
    font-size: 2vh;
    margin: 12px 12px 12px 12px;
    line-height: 1.5em;
    padding: 0 10px 0 10px;
}
